<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_jinzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1378},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1292},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1206},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1684},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1940},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1854},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1940},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_prop_zidan_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,338},{866,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,180}}</string>
                <key>sourceSize</key>
                <string>{866,180}</string>
            </dict>
            <key>ui_box_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{168,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{168,168}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>ui_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,270},{1412,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1412,122}}</string>
                <key>sourceSize</key>
                <string>{1412,122}</string>
            </dict>
            <key>ui_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>ui_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>ui_button_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,136},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,130}</string>
            </dict>
            <key>ui_button_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,130}</string>
            </dict>
            <key>ui_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ui_button_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ui_duo_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,334}}</string>
                <key>sourceSize</key>
                <string>{376,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_GameMenuLayer-ipadhd.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27018a6de8780145d5890c186d12b1ce$</string>
            <key>textureFileName</key>
            <string>UI_GameMenuLayer-ipadhd.png</string>
        </dict>
    </dict>
</plist>
